.containerArticleList {
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  max-width: 900px;
  display: flex;
  padding: 30px;
  max-height: fit-content;
}

.currentDisplayText {
  margin: 10px;
}

.inputSectionContainer {
  border: 1px solid rgb(39, 39, 39);
}

.articleListContainer {
  overflow: auto;
  height: fit-content;
  max-height: 600px;
  margin-left: 10px;
}

.articleList {
  border-collapse: collapse;
}

.deleteArticleButton {
  background-color: rgb(77, 13, 13);
  padding: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.createArticleButton {
  margin: 10px;
}

.searchInput {
  margin: 10px;
}

.searchButton {
  margin: 10px;
}

.amountColumn:hover {
  background-color: #000e00ff;
}

.searchClearButton {
  background-color: rgb(77, 13, 13);
}

.updateArticleButton {
  background-color: rgb(17, 86, 151);
  padding: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.refreshArticlesButton {
  margin: 10px;
}

.lowStockButton {
  margin: 10px;
}

.updateArticleContainer {
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 400px;
  margin: 10px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.paginationContainer {
  max-width: 500px;
  margin: 10px;
  overflow-x: auto;
}

.totalArticles {
  margin: 10px;
}

.pageButton {
  margin: 2px;
}

td {
  max-width: 120px;
  min-width: 60px;
  overflow-x: auto;
  border: 1px solid rgb(146, 146, 146);
  padding: 8px;
}

th {
  border: 1px solid rgb(146, 146, 146);
  padding: 8px;
}

tr {
  background-color: #050505;
}
